<!DOCTYPE html>
<html>
<head>
  <title>WouldYouPetThis</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Would You Pet This?</a>
      <ul class="nav">
        <li><a href="about">About</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
